<h1>{{title}}</h1>
<input type="text" (input)="executeSomeFunction($event)" [value]="title">

<!-- one way data binding/ property binding -->
<!-- two way data binding -->

<!-- data binding -->

<!-- Notes: You will need to use attributes `input` for event binding and `value` for property binding.

The specific event listener we want to use is `input`; every time the user types, input will trigger an event. Be sure to use the $event to get its value. log to the console the value. You will see that event.target.value will get you whatever the user type.-->
